@font-face { font-family: 'Montserrat'; src: url("../fonts/Montserrat-Regular.ttf"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Montserrat'; src: url("../fonts/Montserrat-Light.ttf"); font-weight: 100 ; font-style: normal; }
@font-face { font-family: 'Montserrat'; src: url("../fonts/Montserrat-Bold.ttf"); font-weight: 800 ; font-style: normal; }

body {
  font-family: "Montserrat";
  background-color: #242424;
  font-weight: 100;
  color:#eaeaea;
}

/* Utilities */

.with-fixed-navbar {
  padding-top: 70px;
}

.rj-demph {
  opacity: .5;
}

.make-yellow {
  color:#ffcc00;
}

.rj-btn-primary {
  background-color: #ffcc00;
  color: #1a1a1a;
  height: 62px;
  line-height: 62px;
  margin: 4px 0;
  -webkit-box-shadow: 0 6px 0 #B79717;
  -moz-box-shadow: 0 6px 0 #B79717;
  box-shadow: 0 6px 0 #B79717;
  font-size: 22px;
  border-radius: 100px;
  font-weight: bold;
  padding: 0 40px;
}

.rj-btn-primary:hover, .rj-btn-primary:focus {
  margin-top: 0px;
  margin-bottom: 8px;
  -webkit-box-shadow: 0 10px 0 #B79717;
  -moz-box-shadow: 0 10px 0 #B79717;
  box-shadow: 0 10px 0 #B79717;
}

.rj-btn-primary:active {
  margin-top: 10px;
  margin-bottom: -2px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.rj-btn-primary:active, .rj-btn-primary:focus:active, .rj-btn-primary:focus {
  outline:0;
  border:0;
}

.rj-no-padding {
  padding: 0px !important;
}

/* Navbar */

.navbar-rj {
  background-color: #1a1a1a;
  height:70px;
  border-bottom: solid 3px #ffcc00
}

.rj-navbar-phone {
  line-height: 70px;
  margin: 0 30px;
  color: #909090;
}

.rj-navbar-phone-number {
  color: #eaeaea;
  font-size: 16px;
  margin-left: 12px;
}

/* Jumbotron */

.rj-jumbo-main {
  font-family: "Montserrat";
  background: url("../img/bg-pattern.svg") no-repeat left center;
  padding-bottom: 0px;
  padding-top: 20px;
  margin-bottom: 0px;
  text-align: center;
}

.rj-jumbo-main h1 {
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 16px;
  color: #eaeaea;
}

.rj-jumbo-main p {
  font-family: "Montserrat";
  font-size: 20px;
  color: #A1A1A1;
  margin-bottom: 30px;
}

.rj-logo {
  text-align: center;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}

.rj-nav-btn {
  color:#eaeaea;
  border: #979797 1px solid;
  border-radius: 50px;
  line-height: 15px!important;
  font-weight: bold;
  font-size: 15px;
}

.rj-nav-btn:hover, .rj-nav-btn:focus {
  background-color: #ffcc00!important;
  border-color: #ffcc00;
  color:#1a1a1a;
}

.rj-nav-btn:active {
  background-color: #B79717!important;
  border-color: #B79717;
  color:#1a1a1a;
}

.rj-jumbo-phone {
  margin-top: 30px;
  float:right:
}

.rj-jumbo-text {
  margin: 80px auto 70px;
}

/* Validation */

.validation-logos {
	text-align: center;
	line-height: 70px;
  color:#4a4a4a;
}

.ihrsa-member {
  border-left: 1px solid #2a2a2a;
  line-height: 70px;
  padding:0 30px;
}

.validation-logos .img-responsive, .ihrsa-member .img-responsive{
	vertical-align: middle;
	display: inline-block;
  padding:0 4px;
}



/* Slides */

.rj-slide {
  padding: 40px;
}

.rj-slide-odd {
  background-color: #2A2A2A;
}

.rj-slide-pair {
  background-color: #242424;
}

.rj-slide-block {
  height: 520px;
}

.rj-slide-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.rj-slide h1 {
  font-weight: 800;
  font-size: 32px;
  color: #eaeaea;
  text-shadow: 3px 3px 0px #161616;
  text-align: center;
}

.rj-slide h2 {
  font-size: 22px;
  margin-top:0px;
  font-weight: 100;
  color: #aaa;
  margin-bottom: 40px;
  text-align: center;
}

.rj-slide p{
  font-weight: 100;
  font-size: 20px;
  color: #D6D6D6;
  margin-bottom: 20px;
}

.rj-slide .rj-slide-subtext {
  font-size: 16px;
  color: #7a7a7a;
}

.rj-slide-with-phone {
  padding-bottom: 0px;
}

.rj-half-phone {
  width:100%;
  z-index: 999;
}

.rj-phone-journey {
  padding: 0px;
}

.rj-photo-annotation {
  border-radius: 20px;
}

.rj-photo-annotation p {
  font-size: 19px;
  margin-bottom: 0px;

}

/* Teams */

#teams p {
  color:#9a9a9a;
  font-size: 16px;
}

/* Your Data */
#your-data {
  background-color: #1a1a1a;
}

.flex-center {
  display:flex;
    flex-direction: column;
}

#your-data h1 {
  font-size: 26px;
}

#your-data p {
  font-size: 16px;
  color:#9a9a9a;
  text-align: center;
}
#your-data .text-wrapper {
  padding:0 40px;
}

#your-data .your-data-legal {
  margin-top: 30px;
}

#your-data .your-data-legal p {
  font-size: 13px;
  color:#6a6a6a;
}

#your-data .your-data-legal a {
  font-weight: bold;
  color:#6a6a6a;
  text-decoration: underline;
}

/* Call to Action */

#rj-cta {
  background: url("../img/bg-pattern.svg") no-repeat left center;
  color:#eaeaea;
  text-align: center;
  padding:30px;
}

#rj-cta h1 {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 22px;
}

#rj-cta p {
  font-size: 20px;
}

/* Footer */

footer ul {
  padding: 0px;
}

footer li {
  color:#4a4a4a;
  margin: 10px;
  line-height: 40px;
  text-align: center;
  list-style: none;
  display: block;
}

footer li a {
  color:#afafaf;
}

footer li a:hover, footer li a:focus, footer li a:active {
  color:white;
  text-decoration: none;
}

/* Modal */

.modal-backdrop.in {
    filter: alpha(opacity=85);
    opacity: .85;
}

body.modal-open {
    overflow: hidden;
}

.modal-content {
  background-color: #2d2d2d;
  color: #eaeaea
}

.modal-title {
  font-weight: 800;
  font-size: 19px;
  line-height: 32px;
  color: #EAEAEA;
}

.m-success .modal-title {
  padding-left: 36px;
  margin-bottom: 12px;
  background: url("../img/icon-success.svg") no-repeat left center;
}

.m-success p {
  font-size: 16px;
  color: #BBBBBB;
}

.modal-header {
  color: #afafaf;
  font-size: 16px;
  padding:16px 36px;
  border-bottom: 1px solid #292929;
  background-color: #333333;
  border-radius: 8px 8px 0 0;
}

.modal-body {
  padding:20px 36px;
}

.rj-form-loading-spinner {
  height: 62px;
  background: url("../img/spinner.svg") no-repeat center center;
  background-size: contain;
}

.rj-form-loading {
  opacity: 0.3;
}

.modal-footer {
  text-align: center;
  border-top: none;
  margin-bottom: 20px;
  padding-top: 0px;
}

.close {
  color:#696969;
  font-size: 36px;
  text-shadow: none;
  opacity:1;
}

.close:hover {
  color:#eaeaea;
  opacity:1;
}

.form-group label {
  font-weight: normal;
  font-size: 16px;
  color: #eaeaea;
}

.form-group input {
  background-color: #eaeaea;
  border-radius: 8px;
  height: 50px;
  font-weight: normal;
  color:#1a1a1a;
}

.form-group select {
    background-color: #eaeaea;
    border-radius: 10px;
    color: #1a1a1a;
    height: 50px;
    width: 100%;
    font-weight: normal;
}

.form-group select:invalid {
  color: gray;
}

form .rj-btn-primary, form .rj-btn-primary:focus  {
  height:56px;
  line-height:56px;
}

form .rj-btn-primary:active {
  margin-top: 10px;
  margin-bottom: -2px;
}

label.error {
font-weight: lighter;
font-size: 14px;
color: #FF6262;
margin-top: 6px;
}

input.error {
  color: #FF6262;
}

#signup_form._state-loading {
  opacity: 0.4;
}

.spinner {
  height: 56px;
  line-height: 56px;
  margin: 4px 0;
  padding: 0 40px;
  background-image: url("../img/spinner.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.form-error {
  background-color: #E04844;
  border-radius: 6px;
  height:50px;
  width:100%;
  line-height: 50px;
  margin-bottom: 14px;
  padding-left: 12px;
}

.form-error-msg {
color:#fff;
font-size: 14px;
padding-left: 36px;
background: url("../img/icon-error-white.svg") no-repeat left center;
}

.alert-popup-button-success {
  width:100%;
  background: #44BB40;
  border-radius: 10px;
  color:#fff;
  font-size: 18px;
  font-weight: bold;
  height:50px;
  margin-top: 20px;
}

@media (min-width:768px) {

  /* Jumbotron */

  .rj-jumbo-main {
    text-align: left;
  }

  .rj-jumbo-main p {
    font-size: 22px;
  }

  .rj-logo {
    text-align: left;
    float:left;
  }

  /* Slides */

  /* Testimonials */

  .rj-testimonials-text {
    text-align: left;
    margin-left: 20px;
  }

  /* Footer */

  footer li {
    float: left;
    margin: 30px;
  }
  .mixpanel { float:right; }

  /* Modal */

  .modal-dialog {
    width: 350px;
  }
}

.rj-terms-link {
  color: #eaeaea;
  font-weight: bold;
}

.__nav-link { color: #635e35!important;
              margin:10px;
              padding:8px 20px!important;
              line-height:24px!important;
            }
.__doc-link {
              border: 1px solid #b4a42a!important;
              border-radius: 12px!important;
              margin-right:0px!important;
              -webkit-box-shadow: 0 1px 0 #b4a42a;
              -moz-box-shadow: 0 1px 0 #b4a42a;
              box-shadow: 0 1px 0 #b4a42a;
            }
.__doc-link:hover, .__doc-link:focus {
              background: none!important;
              color: #403d26!important;
              border-color: #887d2a!important;
              -webkit-box-shadow: 0 1px 0 #887d2a;
              -moz-box-shadow: 0 1px 0 #887d2a;
              box-shadow: 0 1px 0 #887d2a;
            }
.__doc-link:active {
              background: none!important;
              color: #403d26!important;
              border-color: #887d2a!important;
              margin-top:11px;
              margin-bottom:9px;
              -webkit-box-shadow: none;
              -moz-box-shadow: none;
              box-shadow: none;
            }
.__inline-link {
              color:#7a7a7a;
              text-decoration: underline;
              cursor: pointer;
              -webkit-text-decoration-color: red;
              -moz-text-decoration-color: red;  /* vendor prefix not required as of V36 */
              text-decoration-color: red;
}

.__inline-link:hover {
              color:#eaeaea;
              cursor: pointer;
}
